[submodule "app/addons/rus_komtet_kassa/Tygh/Addons/RusKomtetKassa/kassa"]
	path = app/addons/rus_komtet_kassa/Tygh/Addons/RusKomtetKassa/kassa
	url = https://github.com/Komtet/komtet-kassa-php-sdk.git
