version: "3.1"
services:

  cscart_mysql5.7:
    image: mysql:5.7
    platform: linux/amd64
    container_name: cscart_mysql
    environment:
      MYSQL_ROOT_PASSWORD: my_secret_pw_shh
      MYSQL_DATABASE: cscart_db
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpass
    volumes:
      - ./db:/var/lib/mysql
    ports:
      - "9907:3306"

  cscart_php:
    build:
      context: ./config
      dockerfile: Dockerfile
    container_name: cscart_php
    volumes:
      - ./php:/var/www/html/
      - ./config/php-ini-overrides.ini:/usr/local/etc/php/conf.d/00-php.ini
      - ./bin/sendmail:/usr/local/bin/sendmail
    environment:
        PHP_IDE_CONFIG: serverName=localhost
    ports:
      - "8100:80"

  cscart_phpmyadmin:
    image: phpmyadmin
    platform: linux/amd64
    restart: always
    ports:
      - 8101:80
    environment:
      - PMA_ARBITRARY=1
